<li>
    <a href={{ url_for('dates.calendar') }}>
        <i class="fa fa-users fa-lg">Terminkalender</i>
    </a>
</li>
<li>
    <a href={{ url_for('home.capacity') }}>
        <i class="fa fa-users fa-lg">Lager</i>
    </a>
</li>
<li>
    <a href={{ url_for('home.finance') }}>
        <i class="fa fa-users fa-lg">Finanzen</i>
    </a>
</li>
<li>
    <a href={{ url_for('home.settings') }}>
        <i class="fa fa-users fa-lg">Einstellungen</i>
    </a>
</li>
<li>
    <a href={{ url_for('auth.logout') }}>
        <i class="fa fa-users fa-lg">Logout</i>
    </a>
</li>