{% extends 'base.html' %}

{% block content %}
    <li>
        <p><a href="{{ url_for('employee.add_employee') }}">Neuen Nutzer anlegen.</a></p>
    </li>
    <li>
        <p><a href="{{ url_for('employee.list_employees') }}">Mitarbeiterliste anzeigen</a></p>
    </li>
    <li>
        <p><a href="{{ url_for('employee.edit_employee') }}">Mitarbeiter bearbeiten</a></p>
    </li>
    <li>
        <p><a href="{{ url_for('auth.password_reset') }}">Password zurücksetzen</a></p>
    </li>
    <li>
        <p><a href="{{ url_for('customer.add_customer') }}">Kunden anlegen</a></p>
    </li>
    <li>
        <p><a href="{{ url_for('customer.list_customers') }}">Kundenliste anzeigen</a></p>
    </li>
    <li>
        <p><a href="{{ url_for('customer.edit_customer') }}">Kunde bearbeiten</a></p>
    </li>
{% endblock %}