{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">Was passiert bei einem Tattoo?</h2><br>
    <div class="row">
        <div class="col-16">
            <h4 class="text-center">Aus Alt mach Neu</h4><br>
            <p>
                Im Grunde lassen sich die meisten Tattoo´s überarbeiten bzw. erweitern.
            </p>
            <p>
                Es bleibt nur die Frage, wie gut das alte Tattoo erhalten ist, und wie viel vom alten Kunstwerk noch zu
                erkennen sein soll.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-14">
            <img src="{{ url_for('static', filename='img/cover_up/cover_up1.jpg') }}" class="img-fluid"
                 alt="Responsive image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-16">
            <p>
                In der Regel lassen sich Tattoo´s, die nicht vollflächig gefüllt sind gut überarbeiten. Anderen falls
                muss das alte Bildchen aufwendig mit viel Schwarzfüllungen und Konturlinien aus weißer Farbe retuschiert
                werden.
            </p>
            <p>
                Die Kunst guter Coverarbeiten besteht darin, dass das neue Motiv mit seinen Konturen, die meisten Linien
                des alten Tattoo´s überdecken.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-14">
            <img src="{{ url_for('static', filename='img/cover_up/cover_up2.jpg') }}" class="img-fluid"
                 alt="Responsive image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-16">
            <p>
                Natürlich kann man Tätowierarbeiten nicht beliebig oft covern. Die Motive werden mit jedem Mal grober
                und weisen dann große schwarze Flächen auf.
            </p>
            <p>
                Im Übrigen lässt sich die Haut maximal dreimal übertätowieren. Die Haut vernarbt dann, und ist dann
                unwiderruflich geschädigt!.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-16">
            <h4 class="text-center">Freestyle Arbeiten</h4><br>
            <p>
                Freestyle-Arbeiten gehören zu meinen Lieblingsarbeiten. Freestyle zu tätowieren bedeutet, dass das zu
                tätowierende Motiv ohne Schablonen und "Blaupausen", den sogenannten Matrizen, auf die Haut des Kunden
                vorgezeichnet wird.
            </p>
            <p>
                Viele Kunden sind erst skeptisch wenn ich ihnen sage, dass ich ihnen das Bild "freihand" auf den Körper
                skizziere. Sie können sich meist nicht vorstellen, das ich das Bild schon fertig im Kopf habe, und es
                eins zu eins auf den Körper bringe.
            </p>
            <p>
                Aber nach dem Anzeichnen sind dann alle Zweifel verflogen.
            </p>
            <br><br>
        </div>
    </div>
{% endblock %}