{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h5>
                Öffnungszeiten :
            </h5>
        </div>
        <div class="col">
            <div class="row">
                <p>
                    Di. - Fr. 9:00 - 12:00 Uhr & 15:00 - 18:00 Uhr
                </p>
            </div>
            <div class="row">
                <p>
                    Sa. 10:00 - 14:00 Uhr
                </p>
            </div>
            <div class="row">
                <p>
                    Oder Termin nach Absprache!
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h5>
                Adresse :
            </h5>
        </div>
        <div class="col">
            <div class="row">
                <p>
                    Dorfstraße 26
                </p>
            </div>
            <div class="row">
                <p>
                    14712 Rathenow OT Semlin
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h5>
                Telefon :
            </h5>
        </div>
        <div class="col">
            <div class="row">
                <p>
                    Festnetz: 03385/616503
                </p>
            </div>
            <div class="row">
                <p>
                    Mobil: 0172/1537138
                </p>
            </div>
        </div>
    </div>
{% endblock %}