{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">{{ staff_name }}'s Biographie</h2>
    <br><br>
    <div class="row">
        <div class="col-16">
            <h4 class="text-center">Damals:</h4><br>
            <p>
                {{ staff_name_text_than }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{{ url_for('static', filename='') }}" class="img-fluid"
                 alt="Responsive image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-16">
            <h4 class="text-center">Heute:</h4><br>
            <p>
                {{ staff_name_text_today }}
            </p>
            <h4 class="text-center">{{ staff_sign }}</h4><br><br>
            <p></p>
        </div>
    </div>
{% endblock %}