{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">Felicia's Biografie</h2>
    <br><br>
    <div class="row">
        <div class="col-16">
            <h4 class="text-center">Damals:</h4><br>
            <p>
                Ich wurde im Jahr 1977 am 5. September geboren. Im Kindergarten zeichnete ich zur Freude der Kinder
                jedem einen Traktor . In der Schule verbesserte ich mich auf Fantasiebilder und wurde in den
                Zeichenzirkel angemeldet. Der damaligen Zeit entsprechend wurde mein Talent bis auf Galerietauglichkeit
                gefördert und ab da.an bekam ich nie wieder ein Bild zurück.
                Deshalb verschenke ich, aus Gewohnheit, auch heute gerne Bilder an die Kunden mit Lebenslanger Garantie.
                Später verdiente ich mir Taschengeld mit Portraitzeichnungen und Karikaturen meiner Mitschüler.
            </p>
            <p>
                Mein Abitur brach ich mit Zwölf/II ab und stürzte mich in die Marktwirtschaft. Der Start war eine
                Zahntechnikerlehre. Nach Abschluss dieser und der Nebentätigkeit als Tätowiererin (1997 – 2000 Anfangs
                bei Shadow Tattoo, dann bei Kunden der Bundeswehrkaserne BRB, auf Bikertreffen der Bastards und mit
                Freunden zu Hause) ließ ich mich vom „Jobhaus für Jugendliche“ motivieren. Schnell bemerkte ich, Zukunft
                beginnt bei mir selbst. Unterstützt von meinem Motivationstrainer Hanjo (super Förderprogramm vom
                Staat-gibt es heute leider nicht mehr) ließ ich den „Schatten“ hinter mir und startete meine
                Selbstständigkeit mit vielen Helfern.
                Einen besonderen Dank auch hier an Domenico und Knuffel, sowie Sven für das Startkapital.
            </p>
            <p>
                Am 01.01.2001 öffnete Felicia Tattoo Art zum 1. Mal die Türen. Seither arbeite ich unermüdlich an meinen
                Kunden. Und da die Arbeit mir so viel Freude bereitet, ist sie schon längst zum „Ausdauerhobby“
                geworden.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{{ url_for('static', filename='img/felicia/nicole_work.jpg') }}" class="img-fluid"
                 alt="Responsive image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-16">
            <h4 class="text-center">Heute:</h4><br>
            <p>
                Beim Tätowieren gilt: Qualität und Quantität bilden ein lebenslanges Ergebnis, dass sich auch bezahlen
                lässt. Für mich am liebsten mit einem breiten Grinsen in eurem Gesicht, wenn Ihr in den Spiegel schaut.
                Und auch Papiergeld um die Materialien, die Miete,den Strom,die Steuern … und unterm Schnitt ein
                freudiges normales Künstlerleben zu bezahlen.
            </p>
            <p>
                Danke für Eure Wertschätzung. Hauptsache es macht allen Beteiligten Spass!
            </p>
            <h4 class="text-center">Eure Felicia</h4><br><br>
            <p></p>
        </div>
    </div>
{% endblock %}